<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Destination</th>
    <th scope="col">Back-half</th>
    <th colspan="1"></th>
  </tr>
  </thead>
  <tbody>
  <% @shortlinks.each do |shortlink| %>
    <tr>
      <td><%= sanitize(shortlink.title) %></td>
      <td><%= sanitize(shortlink.destination) %></td>
      <td><%= sanitize(shortlink.back_half) %></td>
      <td><%= link_to 'Details', shortlink_path(shortlink) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
